.gb-col-4-news-product_cuanhom{
  padding-top: 30px;
  .gb-col-4-news-product_cuanhom-item{
    .gb-col-4-news-product_cuanhom-item-item{
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      display: block;
      line-height: 40px;
      background: $color-main-cuanhom;
      padding: 0 30px;
      border-left: 5px solid $color-main1-cuanhom;
      margin-bottom: 30px;
    }
    .gb-product-sidebar_cuanhom-item{
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dashed #e0e0e0;
      &:last-child{
        border-bottom: none;
      }
      .gb-product-sidebar_cuanhom-item-img{
        float: left;
        border: 1px solid #E0E0E0;
        img{
          width: 60px;
          height: 60px;
          overflow: hidden;
        }
      }
      .gb-product-sidebar_cuanhom-item-info{
        padding-left: 80px;
        h4{
          a{
            display: block;
            font-size: 14px;
            line-height: 21px;
            color: #333;
            font-weight: 500;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
        .prices_cuanhom{
          font-size: 14px;
        }
      }
    }
  }
}