.btn-addtocart_cuanhom{
  background: $color-main1-cuanhom;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform:  uppercase;
  min-width: 150px;
  display: inline-block;
  text-align: center;
  color: #fff;
}