.gb-giaychungnhan-sidebar-cuanhom .widget-title-sidebar-cuanhom {
  position: relative;
  font-weight: 700;
  color: #343434;
  font-size: 18px;
  line-height: 1.35;
  text-transform: uppercase;
  border-bottom: 2px solid #ffc000;
  padding: 10px 0;
  margin-bottom: 30px; }
  .gb-giaychungnhan-sidebar-cuanhom .widget-title-sidebar-cuanhom:before {
    content: "";
    width: 80px;
    border-top: 2px solid #E52F2F;
    position: absolute;
    bottom: -2px;
    left: 0; }

.gb-giaychungnhan-sidebar-cuanhom img {
  width: 100%;
  height: auto; }
